// Imports
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,500,600,700');
// Variables
$pad-l: 48px;
$pad-m: 28px;
$pad-s: 16px;
// Colors
$black: #2A3445;
$dark-grey: #B2BAC9;
$light-grey: #F6F7F8;
$blue: #606FEE;
$blue-gradient: linear-gradient(135deg, rgba(84,136,247,1) 0%, rgba(96,107,246,1) 100%);
$green: #28DC82;
$light-green: #CCFFE9;
$yellow: #FCEDB9;
$dark-yellow: #918F4D;
$light-blue: #DAE6FA;
$red: #FF4B7A;
// Text
a {
  cursor: pointer;
  text-decoration: none;
  color: $black;
}
h1, h2, h3 {
  text-align: center;
  letter-spacing: normal;
}
h1 {
  max-width: 23em;
  font: 700 48px 'Montserrat';
}
h2 {
  max-width: 40em;
  font: 700 28px 'Montserrat';
}
h3 {
  max-width: 40em;
  font: 600 22px 'Montserrat';
}
p {
  max-width: 48em;
  font: 200 14px/18px 'Montserrat';
  color: $dark-grey;
  b { font-weight: 400; }
}
h1, h2, h3, p {
  margin: 0;
  ~ * {
    margin-top: $pad-m;
  }
}
// Elements
body {
  margin: 0;
  color: $black;
  letter-spacing: 0.05em;
  > section {
    padding: $pad-l;
    width: 100%;
    &.dark {
      background: $light-grey;
      h3 { color: $dark-grey; }
    }
    > * {
      margin: auto;
      max-width: 1240px;
    }
  }
}
* {
  box-sizing: border-box;
}
img {
  user-select: none;
}
ul {
  padding: 0;
  list-style: none;
  &.lr {
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }
  }
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  &.text {
    align-items: flex-start;
    h1, h2, h3 { text-align: left; }
  }
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  box-sizing: border-box;
  padding: 0.3em 2em;
  border-radius: 4px;
  color: white;
  font: 500 22px 'Montserrat';
  text-decoration: none;
  display: block;
  &.red { background: $red; }
  &.light-blue {
    background: $light-blue;
    color: $blue;
  }
  &.blue { background: $blue; }
  &.blue-gradient { background: $blue-gradient; }
  &.green { background: $green; }
  &.yellow {
    background: $yellow;
    color: $dark-yellow;
  }
  &.small {
    padding: 0.6em 2em;
    font-size: 14px;
  }
  &.small-alt {
    padding: 1em 4em;
    font-size: 14px;
  }
  &.large {
    padding: 0.8em 4em;
    border-radius: 5px;
  }
  &.round {
    border-radius: 480px;
  }
}
.anchor {
  display: block;
  position: relative;
  top: -90px - $pad-l;
  visibility: hidden;
}
// Properties
.shadowed { box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.075); }
// .shadowed { box-shadow: 0px 4px 36px -4px rgba(0, 0, 0, 0.3); }
.dropdown {
  max-height: 0;
  transition: max-height 0s;
  overflow-y: hidden;
  &.hidden {
    max-height: 1000px;
    transition: max-height 0.45s ease-in;
  }
  & > *:first-child {
    margin-top: $pad-m;
  }
}
.arrow {
  transition: transform 0.225s;
  &.flipped {
    transform: rotate(-180deg);
  }
}
