@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,500,600,700");
a {
  cursor: pointer;
  text-decoration: none;
  color: #2A3445; }

h1, h2, h3 {
  text-align: center;
  letter-spacing: normal; }

h1 {
  max-width: 23em;
  font: 700 48px 'Montserrat'; }

h2 {
  max-width: 40em;
  font: 700 28px 'Montserrat'; }

h3 {
  max-width: 40em;
  font: 600 22px 'Montserrat'; }

p {
  max-width: 48em;
  font: 200 14px/18px 'Montserrat';
  color: #B2BAC9; }
  p b {
    font-weight: 400; }

h1, h2, h3, p {
  margin: 0; }
  h1 ~ *, h2 ~ *, h3 ~ *, p ~ * {
    margin-top: 28px; }

body {
  margin: 0;
  color: #2A3445;
  letter-spacing: 0.05em; }
  body > section {
    padding: 48px;
    width: 100%; }
    body > section.dark {
      background: #F6F7F8; }
      body > section.dark h3 {
        color: #B2BAC9; }
    body > section > * {
      margin: auto;
      max-width: 1240px; }

* {
  box-sizing: border-box; }

img {
  user-select: none; }

ul {
  padding: 0;
  list-style: none; }
  ul.lr li {
    display: flex;
    flex-direction: row;
    align-items: center; }
    ul.lr li:nth-child(even) {
      flex-direction: row-reverse; }

.col {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .col.text {
    align-items: flex-start; }
    .col.text h1, .col.text h2, .col.text h3 {
      text-align: left; }

.row {
  display: flex;
  flex-direction: row;
  align-items: center; }

.centered {
  display: flex;
  align-items: center;
  justify-content: center; }

.button {
  box-sizing: border-box;
  padding: 0.3em 2em;
  border-radius: 4px;
  color: white;
  font: 500 22px 'Montserrat';
  text-decoration: none;
  display: block; }
  .button.red {
    background: #FF4B7A; }
  .button.light-blue {
    background: #DAE6FA;
    color: #606FEE; }
  .button.blue {
    background: #606FEE; }
  .button.blue-gradient {
    background: linear-gradient(135deg, #5488f7 0%, #606bf6 100%); }
  .button.green {
    background: #28DC82; }
  .button.yellow {
    background: #FCEDB9;
    color: #918F4D; }
  .button.small {
    padding: 0.6em 2em;
    font-size: 14px; }
  .button.small-alt {
    padding: 1em 4em;
    font-size: 14px; }
  .button.large {
    padding: 0.8em 4em;
    border-radius: 5px; }
  .button.round {
    border-radius: 480px; }

.anchor {
  display: block;
  position: relative;
  top: -138px;
  visibility: hidden; }

.shadowed {
  box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.075); }

.dropdown {
  max-height: 0;
  transition: max-height 0s;
  overflow-y: hidden; }
  .dropdown.hidden {
    max-height: 1000px;
    transition: max-height 0.45s ease-in; }
  .dropdown > *:first-child {
    margin-top: 28px; }

.arrow {
  transition: transform 0.225s; }
  .arrow.flipped {
    transform: rotate(-180deg); }

#index {
  width: 100%;
  list-style: none;
  display: flex; }
  #index h3 {
    margin: 0;
    width: 100%; }

ul.faq {
  max-width: 784px; }
  ul.faq li {
    border-radius: 4px;
    padding: 28px; }
    ul.faq li .question {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      ul.faq li .question h3 {
        text-align: left; }
      ul.faq li .question img {
        margin: 0;
        height: 22px;
        width: 22px; }
    ul.faq li .answer {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      ul.faq li .answer p {
        max-width: initial; }
    ul.faq li ~ li {
      margin-top: 28px; }

.final .cards {
  padding: 28px;
  height: 100%;
  align-items: stretch; }
  .final .cards > .card {
    padding: 28px;
    border-radius: 4px;
    justify-content: space-between;
    text-align: center;
    max-width: 408px; }
    .final .cards > .card ~ div {
      margin-left: 48px; }
    .final .cards > .card h2 {
      padding: 0 28px; }
    .final .cards > .card .circle {
      margin-top: 28px;
      height: 180px;
      width: 180px;
      border-radius: 50%;
      background: #606FEE; }
      .final .cards > .card .circle img {
        width: 96px; }
.final .button {
  margin: 48px 0; }

.lr-circle {
  height: 260px;
  width: 260px;
  border-radius: 50%; }
  .lr-circle img {
    width: 160px; }

a {
  cursor: pointer;
  text-decoration: none;
  color: #2A3445; }

h1, h2, h3 {
  text-align: center;
  letter-spacing: normal; }

h1 {
  max-width: 23em;
  font: 700 48px 'Montserrat'; }

h2 {
  max-width: 40em;
  font: 700 28px 'Montserrat'; }

h3 {
  max-width: 40em;
  font: 600 22px 'Montserrat'; }

p {
  max-width: 48em;
  font: 200 14px/18px 'Montserrat';
  color: #B2BAC9; }
  p b {
    font-weight: 400; }

h1, h2, h3, p {
  margin: 0; }
  h1 ~ *, h2 ~ *, h3 ~ *, p ~ * {
    margin-top: 28px; }

body {
  margin: 0;
  color: #2A3445;
  letter-spacing: 0.05em; }
  body > section {
    padding: 48px;
    width: 100%; }
    body > section.dark {
      background: #F6F7F8; }
      body > section.dark h3 {
        color: #B2BAC9; }
    body > section > * {
      margin: auto;
      max-width: 1240px; }

* {
  box-sizing: border-box; }

img {
  user-select: none; }

ul {
  padding: 0;
  list-style: none; }
  ul.lr li {
    display: flex;
    flex-direction: row;
    align-items: center; }
    ul.lr li:nth-child(even) {
      flex-direction: row-reverse; }

.col {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .col.text {
    align-items: flex-start; }
    .col.text h1, .col.text h2, .col.text h3 {
      text-align: left; }

.row {
  display: flex;
  flex-direction: row;
  align-items: center; }

.centered {
  display: flex;
  align-items: center;
  justify-content: center; }

.button {
  box-sizing: border-box;
  padding: 0.3em 2em;
  border-radius: 4px;
  color: white;
  font: 500 22px 'Montserrat';
  text-decoration: none;
  display: block; }
  .button.red {
    background: #FF4B7A; }
  .button.light-blue {
    background: #DAE6FA;
    color: #606FEE; }
  .button.blue {
    background: #606FEE; }
  .button.blue-gradient {
    background: linear-gradient(135deg, #5488f7 0%, #606bf6 100%); }
  .button.green {
    background: #28DC82; }
  .button.yellow {
    background: #FCEDB9;
    color: #918F4D; }
  .button.small {
    padding: 0.6em 2em;
    font-size: 14px; }
  .button.small-alt {
    padding: 1em 4em;
    font-size: 14px; }
  .button.large {
    padding: 0.8em 4em;
    border-radius: 5px; }
  .button.round {
    border-radius: 480px; }

.anchor {
  display: block;
  position: relative;
  top: -138px;
  visibility: hidden; }

.shadowed {
  box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.075); }

.dropdown {
  max-height: 0;
  transition: max-height 0s;
  overflow-y: hidden; }
  .dropdown.hidden {
    max-height: 1000px;
    transition: max-height 0.45s ease-in; }
  .dropdown > *:first-child {
    margin-top: 28px; }

.arrow {
  transition: transform 0.225s; }
  .arrow.flipped {
    transform: rotate(-180deg); }

#headspace {
  height: 90px; }

header.desktop {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0);
  transition: box-shadow 0 ease-in; }
  header.desktop a {
    font: 300 14px/18px 'Montserrat';
    letter-spacing: 0.075em;
    transition: color 0.3s; }
    header.desktop a.active {
      font-weight: 400;
      color: #2A3445; }
  header.desktop.lift {
    transition: box-shadow 0.15s ease-in;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.25); }
  header.desktop nav {
    height: 90px;
    padding: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white; }
    header.desktop nav img {
      width: 160px; }
    header.desktop nav a {
      color: #B2BAC9; }
      header.desktop nav a ~ a {
        margin-left: 28px; }
      header.desktop nav a:hover {
        color: #2A3445; }
    header.desktop nav .button {
      align-self: center;
      color: white;
      font-weight: 500; }
  header.desktop .submenu {
    max-height: 0px;
    opacity: 0;
    overflow-y: hidden;
    padding: 0 28px;
    justify-content: flex-end;
    transition: all 0.2s ease; }
    header.desktop .submenu a {
      padding: 10px 0;
      font-size: 0.75em;
      color: #B2BAC9; }
      header.desktop .submenu a ~ a {
        margin-left: 28px; }
      header.desktop .submenu a:hover {
        color: #2A3445; }
    header.desktop .submenu.active {
      max-height: 35px;
      opacity: 1;
      background: #F6F7F8; }

.banner {
  padding: 28px; }
  .banner video {
    margin-left: 28px;
    width: 50%;
    border-radius: 4px;
    background: #F6F7F8; }

.intro .vectors img {
  margin-top: 28px;
  width: 64px; }
  .intro .vectors img ~ img {
    margin-left: 128px; }

.lr li {
  margin-top: 48px;
  padding: 28px; }
  .lr li .anchor {
    top: -256px; }
  .lr li .text {
    align-items: flex-start; }
  .lr li .spacer {
    width: 96px; }

.faq {
  margin-bottom: 128px; }

/*# sourceMappingURL=index.css.map */
